.resume-body{
    height: 100vh;
    width: 100%;
    background-color: #212529;
    color: white;
    font-family: 'Poppins', sans-serif;
    overflow-y: scroll;
}
.resume-mid-body{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.resume-mid-box h3{
    font-size: 24px;
    color: white;
    margin: 0 10px 24px;
}
.resume-mid-box h3:first-child{
    text-align: center;
}
.resume-card{
    box-sizing: border-box;
    max-width: 528px;
    /* height: 235px; */
    padding: 24px;
    background-color: #111418;
    border-radius: 6px;
    margin: 0 10px 24px;
}

.year-container{
    background-color: #20c997;
    border-radius: 6px;
    box-sizing: border-box;
    text-align: center;
    font-size: 14px;
    color: white;
    line-height: 14px;
    width: 102.26px;
    height: 23.8px;
    padding: 4.9px 9.1px;
    margin: 0 0 16px;
}
.resume-card h3{
    font-size: 23px;
    color: white;
    margin: 0 0 8px;
}
.resume-card h4{
    color: #20c997;
    font-size: 18px;
    margin: 0 0 16px;
}
.resume-card p{
    color: hsla(0,0%,100%,.5);
    font-size: 16px;
    line-height: 28.8px;
}

/* skill css */
.resume-bottom-body h2{
    margin: 24px 50px;
    text-align: center;
}
.bars-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
}
.bars{
    box-sizing: border-box;
    width: 576.8px;
    height: 68.8px;
    padding: 0 24px;
}
.skill-name{
    height: 28.8px;
    margin: 0 0 8px 0px;
    line-height: 28.8px;
    font-weight: 700;
}
.skill-name span{
    float: right;
}
.progress{
    height: 0.5rem;
    overflow: hidden;
    background-color: #111418;
    margin: 0 0 24px;
    border-radius: 6px;
    line-height: 18px;
}
.current-progress{
    height: 0.5rem;
    width: 65%;
    background-color: #20c997;
}

.cv-btn{
    box-sizing: border-box;
    border: 2px solid #6c757d;
    background-color: transparent;
    color: #6c757d;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    padding: 0.8rem 2.6rem;
    text-align: center;
    transition: all .5s ease;
    border-radius: 50rem;
    padding: 12.8px 41.6px;
    width: 215px;
    height: 52px;
    display: block;
    margin: auto;
    margin-bottom: 40px;
}
.cv-btn:hover{
    background-color: #6c757d;
    border-color: #6c757d;
    color: #fff;
}

@media screen and (max-width: 990px) {
    .resume-bottom-body{
        margin-bottom: 150px;
    }
}