.services-body{
    height: 100vh;
    width: 100%;
    background-color: #343a40;
    color: white;
    font-family: 'Poppins', sans-serif;
    overflow-y: scroll;
}
.services-mid{
    display: flex;
    padding: 0 48px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.service-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 0 0 auto;
    width: 517px;
    padding: 0 12px;
    margin-bottom: 30px;
}
.service-box p{
    color: hsla(0,0%,100%,.5);
    font-weight: 400;
    font-size: 16px;
    line-height: 28.8px;
}
.service-details{
    max-width: 403px;
}
.service-details h3{
    font-size: 22px;
    margin-bottom: 10px;
}
.service-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 70px;
    height: 70px;
    background-color: #212529;
    box-sizing: border-box;
    border-radius: 6px;
    margin-right: 20px;
}
@media screen and (max-width: 990px) {
    .service-box{
        width: 350px;
    }
    .services-mid{
        justify-content: center;
        padding-bottom: 100px;
    }
}