body, html {
  height: 100%;
  font-family: 'Baloo 2', cursive;
  margin: 0;
  padding: 0;
}
body{
  overflow: hidden;
}
::selection{
  background-color: #20c997;
  color: white;
}
ul{
  padding: 0;
  margin: 0;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  color: inherit;
}
.outer-body{
  display: flex;
  /* border: 1px solid blue; */
  min-height: 100vh;
}

/* Adding css for responsive */
@media screen and (max-width: 990px) {
  .outer-body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
}
